@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Kumbh Sans', sans-serif;
}

body {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	background-color: hsl(185, 75%, 39%);
	min-height: 100vh;
	background-image: 
		url("../images/bg-pattern-top.svg"), 
		url("../images/bg-pattern-bottom.svg");
	background-position: right 50vw bottom 35vh, left 50vw top 44vh;
	background-repeat: no-repeat, no-repeat;
}

ul {
	list-style-type: none;
}

.card {
	background-image: url("../images/bg-pattern-card.svg");
	background-repeat: no-repeat;
	border-radius: 1rem;
	margin: 0 auto 1rem auto;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	background-color: white;
	width: 20rem;
	text-align: center;
}

.card span:first-child {
	font-weight: 700;
	margin-right: .5rem;
	font-size: 1.2rem;
}

.card span:nth-child(2) {
	opacity: .7;
}

.city {
	opacity: .7;
}

hr {
	width: 100%;
	margin-top: 2rem;
	opacity: .5;
}

.name-age {
	margin-bottom: .8rem;
}

.card img {
	margin: 5.5rem 0 1rem 0;
	border: 5px solid white;
	width: 110px;
	border-radius: 50%;
}

.stats-grid {
	margin: 2rem 0 2rem 0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	column-gap: 2rem;
}

.stats-grid li:first-child,
li:nth-child(2),
li:nth-child(3) {
	font-weight: 700;
	margin-bottom: .5rem;
}

.stats-grid li:nth-child(4),
li:nth-child(5),
li:nth-child(6) {
	font-size: .8rem;
}

img {
	width: 100%;
	display: block;
}

.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}