* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	background-color: hsl(185, 75%, 39%);
	min-height: 100vh;
	background-image: 
		url("../images/bg-pattern-top.svg"), 
		url("../images/bg-pattern-bottom.svg");
	background-position: right 50vw bottom 35vh, left 50vw top 44vh;
	background-repeat: no-repeat, no-repeat;
}

ul {
	list-style-type: none;
}

.card {
	background-image: url("../images/bg-pattern-card.svg");
	background-repeat: no-repeat;
	border-radius: 1rem;
	margin: 0 auto 1rem auto;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	background-color: white;
	width: 90%;
	text-align: center;
}

.card img {
	margin: 5.5rem 0 1rem 0;
	border: 5px solid white;
	width: 110px;
	border-radius: 50%;
}

.stats-grid {
	margin: 2rem 0 2rem 0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
}

.stats-grid li:first-child,
li:nth-child(2),
li:nth-child(3) {
	font-size: 1.5rem;
}

img {
	width: 100%;
	display: block;
}

.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}